body {
  background-color: #eee;
  padding-bottom: 150px;
}

@keyframes fadeinup {
  from { opacity: 0; transform: translate3d(0, 0, 0); }
  to   { opacity: 1; transform: translate3d(0, -100%, 0); }
}
@keyframes fadeindown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes fadeoutup {
  from { opacity: 1; transform: translate3d(0, 0, 0); }
  to   { opacity: 0; transform: translate3d(0, -100%, 0); }
}
@keyframes fadeoutdown {
  from { opacity: 1; transform: translate3d(0, 0, 0); }
  to   { opacity: 0; transform: translate3d(0, 100%, 0); }
}

@keyframes open {
  from { height: 0px;   opacity: 0; }
  to   { height: 120px; opacity: 1; }
}
@keyframes close {
  from { height: 120px; opacity: 1; }
  to   { height: 0px;   opacity: 0; }
}

.loading-page {
  background-color: Black;
  color: White;
  font-weight: bold;
  height: 1000px;
  line-height: 300px;
  opacity: 0.7;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10000;
}
.loading-page p {
 margin-top: -250px;
}

.btn-foo {
  background-color: #454545;
  border-color: #696969;
  color: #fff;
}
.btn-foo-light {
  background-color: #696969;
  border-color: #454545;
  color: #fff;
}
.progress {
  border-radius: 0px;
}
.progress-bar {
  background-color: #3089DB !important;
  color: White !important;
  transition: 0s;
}

/*** DIRECTIVES ***/

.main-menu {
  background-color: #454545;
  color: White;
  font-weight: bold;
  height: 50px;
  padding: 7px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 101;
}
.main-menu .btn .glyphicon {
  margin-left: -50%;
  width: 200%;
}
.main-menu .menu-holder {
  width: 100%;
}
.main-menu .menu-holder.ng-hide-add {
  animation: .5s fadeoutdown;
}
.main-menu .menu-holder.ng-hide-remove {
  animation: .5s fadeindown;
}
.main-menu > .menu-holder a {
  color: White;
  display: inline-block;
  font-family: monospace;
  font-size: 20px;
  height: 36px;
  letter-spacing: 2px;
  line-height: 38px;
  padding: 0px 6px;
}
.main-menu .menu-holder .search-btn {
  float: right;
  text-align: center;
  width: 15%;
}
.main-menu .search-holder {
  height: 35px;
  margin-left: -2px;
  margin-top: 1px;
  position: absolute;
}
.main-menu .search-holder.ng-hide-add {
  animation: .5s fadeoutdown;
}
.main-menu .search-holder.ng-hide-remove {
  animation: .5s fadeindown;
}
.main-menu .search-holder .input-group {
  width: 85%;
}
.main-menu .search-holder .input-group .btn {
  border-color: LightGray;
  height: 34px;
  line-height: 25px;
}
.main-menu .search-holder > .btn-danger {
  float: right;
  margin-right: 5px;
  margin-top: -34px;
  padding: 6px;
  width: 12%;
}

.collapse-box {
  background-color: #454545;
  border-bottom: 1px solid #696969;
  border-top: 1px solid #696969;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-top: 50px;
  padding: 2px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.collapse-box > .content {
  background-color: #fff;
  padding: 0px;
  overflow: hidden;
}
.collapse-box > .content.ng-hide-add {
  animation: .3s close;
}
.collapse-box > .content.ng-hide-remove {
  animation: .3s open;
}

.collapse-box > .footer {
  background-color: #454545;
  border: 1px solid #454545;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.collapse-box > .footer .btn {
  background-color: #454545;
  border: none;
  border-bottom: 1px solid #696969;
  border-radius: 0px;
  height: 23.5px;
  line-height: 0px;
  margin-top: .1px;
  width: 40%;
}
.collapse-box > .footer .glyphicon {
  color: White;
  font-weight: bold;
  margin-top: -3px;
  padding: 2px;
  transform: scale(2.5, 1);
}

.go-up-btn {
  background-color: #454545;
  border: 2px solid #696969;
  border-radius: 100%;
  color: #eee;
  height: 30px;
  width: 30px;
  
  margin-left: 90%;
  margin-top: 100px;
  position: fixed;
}
.go-up-btn .glyphicon {
  transform: rotate(-90deg);
}

.pl-alert {
  background-color: #454545;
  border: 1px solid #696969;
  border-radius: 2px;
  color: White;
  padding-left: 5px;
  padding-right: 5px;
}
.pl-alert > .modal-header {
  padding: 10px;
  border: none;
}
.pl-alert .alert-btn-dismiss {
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  float: right;
  margin-top: -10px;
}

.pl-alert > .modal-body {
  background-color: #eee;
  color: Black;
  padding: 0px;
}
.pl-alert > .modal-footer {
  padding: 8px;
}
.pl-alert > .modal-footer .btn {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -8px;
}

.pl-alert-md > .modal-footer {
  color: Gray;
}
.pl-alert-md > .modal-footer input {
  float: right;
  margin-left: 10px;
  margin-top: 1px;
}

.pic-modal {
  text-align: center;
}
.pic-modal > .pic-modal-header {
  font-size: 20px;
  /*margin-bottom: 8px;*/
}
.pic-modal > .pic-modal-header .btn-group {
  text-align: center;
  width: 100%;
}
.pic-modal > .pic-modal-header .btn-group .btn {
  border-bottom-left-radius:  0px;
  border-bottom-right-radius: 0px;
  width: 50%;
}
.pic-modal-body input {
  border-radius: 0px;
  width: 100%;
}
.pic-modal .media-holder {
  background-color: #fff;
  border-top: none;
  height: 350px;
  width: 100%;
}

.input-holder {
  background-color: #F8F8F8;
  border: 1px solid #696969;
  padding: 3px;
  text-align: center;
  transition: 1s;
  width: 100%;
  z-index: 100;
}
.input-holder .input-holder-per {
  width: 100%;
}
.input-holder .input-holder-per textarea {
  border: 1px solid #696969;
  border-radius: 1px;
  height: 70px;
  padding: 4px;
  resize: vertical;
  text-align: left;
  width: 80%;
}
.input-holder .input-holder-per button {
  border: 1px solid black;
  border-radius: 1px;
  float: right;
  height: 70px;
  width: 19%;
}
.input-holder > .media-footer {
  text-align: left;
}
.input-holder > .media-footer button {
  border: 1px solid black;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  height: 35px;
  line-height: 5px;
  margin: 5px;
  margin-bottom: 1px;
  margin-left: 2px;
  width: 15%;
  text-align: center;
}
.input-holder > .media-footer .glyphicon {
  transform: scale(2, 2);
}
.input-holder > .media-footer button:last-child {
  float: right;
}

.process .progress {
  background-color: White !important;
  border-bottom: 1px solid LightGray;
  height: 35px;
  margin-bottom: 0px;
}
.process .progress-bar {
  line-height: 35px;
}

.main-btn-holder .btn {
  margin: 3px;
}
.main-btn-holder .btn:nth-child(2) {
  margin-left: 25px;
}

.topics-list ul {
  list-style-type: none;
  margin-left: -40px;
}
.topics-list ul li {
  background-color: #fff;
  border: 1px solid #696959;
  height: 40px;
}
.topics-list ul li input {
  display: inline-block;
  margin-left: 5px;
  margin-top: 2px;
  width: 7%;
}
.topics-list ul li p {
  display: inline-block;
  float: right;
  margin: 3px 6px;
  font-family: monospace;
  font-size: 23px;
  font-weight: bold;
}
.post-holder {
  padding-top: 93px;
}

.mypost-holder {
  margin-top: 10px;
}
.mypost {
  background-color: #fff;
  border: 1px solid #696969;
  margin-top: 10px;
}
.mypost.ng-enter,
.mypost.ng-leave {
  transition: all linear .3s;
}
.mypost.ng-leave.ng-leave-active,
.mypost.ng-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.mypost.ng-enter.ng-enter-active,
.mypost.ng-leave {
  transform: translateX(0);
  opacity: 1;
}
.mypost > a .media-object {
  border: 1px solid LightGray;
  height: 90px;
  width: 25%;
}
.mypost .media-heading,
.mypost .topics li,
.mypost .info {
  background-color: #696969;
  border: 1px solid LightGray;
  color: #fff;
  padding: 3px;
}
.mypost .media-heading {
  border-left: none;
  margin-left: -1px;
  float: left;
}
.mypost .info {
  float: right;
  margin-left: 1px;
}
.mypost .media-body {
  padding: 3px;
  padding-top: 0px;
  padding-left: 5px;
  width: 74.7%;
}
.mypost .topics {
  float: left;
  list-style-type: none;
  margin-bottom: 6px;
  padding: 0px;
  width: 100%;
}
.mypost .topics li {
  background-color: #696969;
  display: inline-block;
  margin-left: 4px;
  margin-top: 2px;
}
.mypost .media-footer {
  float: left;
  line-height: 30px;
  width: 100%;
}
.mypost .media-footer button {
  background-color: LightGray;
  border-radius: 0px;
  color: #454545;
  float: left;
  height: 35px;
  padding: 0px;
  width: 25%;
}
.mypost .media-footer button .glyphicon {
  margin-top: 5px;
  padding-right: 10px;
  transform: scale(1.2);
}
