<div class="modal fade">
  <div class="modal-dialog">
	<div class="pl-alert pl-alert-lg modal-content">
	  <div class="modal-header">
		<button class="btn btn-default alert-btn-dismiss" data-dismiss="modal">&times;</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	  </div>
	  <div class="modal-body" ng-transclude>
		
	  </div>
	  <div class="modal-footer">
		<div class="btn btn-default" data-dismiss="modal">cancel</div>
		<div class="btn btn-primary">confirm</div>
	  </div>
	</div>
  </div>
</div>
