<nav ng-init="visible=true" class="main-menu nav nav-pills">

  <!-- logo -->
  <li ng-show="visible" class="menu-holder">
	<a href="">
	  <span class="glyphicon glyphicon-pushpin"></span> 
	  postland
	</a>
	<!-- search btn -->
	<button ng-click="visible=false" class="search-btn btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
  </li>

  <!-- search holder -->
  <li ng-show="!visible" class="search-holder">
	<span class="input-group">
	  <input ng-model="wanted" type="text" class="form-control" placeholder="search"/>
	  <span class="input-group-btn">
		<button ng-click="visible=true" class="btn btn-danger">
		  <span class="glyphicon glyphicon-remove"></span>
		</button>
	  </span>
	</span>

	<!-- toggle filter modal -->
	<button data-toggle="modal" data-target="#filter-modal" class="btn btn-danger">
	  <span class="glyphicon glyphicon-cog"></span>
	</button>
  </li>
</nav>

