<div class="input-holder">
  <div class="input-holder-per">
	<textarea class="btn btn-default" ng-model="posttext"></textarea>
	<button class="btn btn-default post-btn" ng-click="post(posttext)">p!</button>
  </div>
  <div class="media-footer">
	<button data-toggle="modal" data-target="#pic-modal" class="btn btn-default"><span class="glyphicon glyphicon-picture pic-btn"></span></button>
	<button class="btn btn-default"><span class="glyphicon glyphicon-camera cam-btn"></span></button>
	<button class="btn btn-default"><span class="glyphicon glyphicon-list-alt list-btn"></span></button>
  </div>
</div>
